
*{
    font-family: 'poppins' ,sans-serif;
}
body{
    background-image: url("images/1.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: url("https://raw.githubusercontent.com/Bullz-Racing-BMSCE/Website/main/pics/Untitled%20design%20(1).png");
}