
/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body
	{
		height: auto;
	}

	ul.contact
	{
	}
	
		ul.contact li
		{
			margin: 0 0 0 0;
		}

/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/

	#main
	{
		position: relative;
	}

/*********************************************************************************/
/* Reel                                                                          */
/*********************************************************************************/

	#reel 
	{
		overflow: hidden;
	}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	#footer
	{
		position: relative;
		overflow: visible;
	}
		
		#footer .left,
		#footer .right
		{
			position: relative;
			padding: 2em;
			text-align: left;
		}
		.thumb img:hover{
			transform: scale(1.5);
		}


		nav{
			width: 100%;
			height: 50px;
			background-color: #0005;
			line-height: 50px;
		  }
		  nav ul{
			float: right;
			margin-right: 30px;
		  }
		  nav ul li{
			list-style-type: none;
			display: inline-block;
			transition: 0.7s all;
		  }
		  nav ul li:hover{
			background-color:#088;
		  }
		  nav ul li a{
			text-decoration: none;
			color: #fff;
			padding: 30px;
		  } 